In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

Diccionario de los Datos:

```
survival:	Survival	{0 = No, 1 = Yes}
pclass:	Ticket class	{1 = 1st, 2 = 2nd, 3 = 3rd}
sex:	Sex
Age:	Age in years
sibsp:	Number of siblings / spouses aboard the Titanic
parch:	Number of parents / children aboard the Titanic
ticket:	Ticket number
fare:	Passenger fare
cabin:	Cabin number
embarked:	Port of Embarkation	{C = Cherbourg, Q = Queenstown, S = Southampton}

```

Ejercicio 1. Carga el conjunto de datos "Titanic" de Seaborn. Calcula la media, mediana y moda de las edades de los pasajeros a bordo.

In [ ]:
df = sns.load_dataset("titanic") #cargo el dataset "Titanic"
df.head() #muestro las primeras 5 líneas

df

In [ ]:
df.count()

In [ ]:
#calculo la media_de_edad

media = df["age"].mean().astype(float)
mediana = df["age"].median().astype(float)
moda = df["age"].mode().astype(float)

print("media=",media)
print("mediana=",mediana)
print("moda=",moda)

print("""\n\r Media: %f \n\r Mediana: %f \n\r Moda: %f \n\r""" % (media,mediana,moda))

In [ ]:
print("DESCRIBE df")
print(df['age'].describe())
print("--------")
print("TIPOS de datos")
print(df.dtypes)

Ejercicio 2. Calcula la media y la desviación estándar de las tarifas pagadas por los pasajeros en cada clase (primera, segunda y tercera)

In [ ]:
print("valor más alto de las tarifas pagadas por los pasajeros en cada clase=",df.groupby('class')['fare'].max())
print("")
print("Media de las tarifas pagadas por los pasajeros en cada clase=",df.groupby('class')['fare'].mean())
print("")
print("Desvío estándar de las tarifas pagadas por los pasajeros en cada clase=",df.groupby('class')['fare'].std())
print("")
#df.groupby('class')['fare'].mode()

Ejercicio 3. Arma un histograma para visualizar la distribución de las edades de los pasajeros.

In [ ]:
import seaborn as sns

titanic = sns.load_dataset('titanic')

sns.countplot(x='sex',data=titanic)

In [ ]:
#1 gráfico para cada sexo, contando por edad.
g = sns.FacetGrid(data=titanic,col='sex')
g.map(plt.hist,'age')

Ejercicio 4. Crea un boxplot (diagrama de caja) de las tarifas pagadas por los pasajeros en función del puerto de embarque (C = Cherbourg, Q = Queenstown, S = Southampton)

In [ ]:
sns.boxplot(x='embarked',y='fare',data=titanic,palette='rainbow')

Ejercicio 5. Calcula los percentiles 25, 50 y 75 de las edades de los pasajeros.

In [ ]:
p25 = df["age"].quantile(0.25)
p50 = df["age"].quantile(0.50)
p75 = df["age"].quantile(0.75)

print("""
    percentile 25: %f
    percentile 50: %f
    percentile 75: %f
""" % (p25,p50,p75))

Ejercicio 6. Calcula la proporción de pasajeros que sobrevivieron y fallecieron en función de su sexo

In [ ]:
sobrevivientes_por_sexo = df.groupby(['sex','survived']).size()
print("sobrevivientes_por_sexo="+"\n\r"+"\n\r",sobrevivientes_por_sexo)